/*===================== HEADER ===================== */

header {
  background-color: #f9e2c8;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 30px;
  border-bottom: 3px solid #e4b48c;
}

header .logo {
  width: 5%;
}

header h1 {
  font-weight: bold;
  font-size: 25px;
}

.navigation {
  background-color: #fff3e0;
  text-align: center;
  padding: 10px;
  border-bottom: 3px solid #e4b48c;
}

.navigation a {
  color: brown;
  background-color: #f28c8c;
  font-weight: bold;
  margin: 0 10px;
  border-radius: 12px;
  padding: 8px 14px;
  cursor: pointer;
  text-decoration: none;
}

/*===================== BODY-MAIN ===================== */

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  display: flex;
  max-width: 1100px;
  margin: 40px auto 0;
  align-items: center;
  flex-direction: column;
}

/*===================== FOOTER ===================== */
footer {
  background-color: #f9e2c8;
  text-align: center;
  padding: 15px;
  border-top: 3px solid #e4b48c;
}

/*===================== HOME ===================== */

main > section {
  background-color: #fff8ee;
  border-radius: 25px;
  align-items: center;
  text-align: center;
  padding: 25px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*===================== LOGIN ===================== */

form {
  text-align: center;
  margin-bottom: 70px;
}

.login-main{
    padding: 20px;
}

.login-main > form > input[type="text"]{
    background-color: #fff8ee
}

button {
  background-color: #f28c8c;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  padding: 8px 14px;
  cursor: pointer;
}
