body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  background-color: #f9e2c8;
}

.container {
  display: flex;
  background-color: #f9e2c8;
  align-items: center;
  gap: 10px;
  padding: 15px 30px;
  border-bottom: 3px solid #e4b48c;
}

.container div {
  font-size: 20px;
}

.logo {
  width: 5%;
}

.logotext {
  font-weight: bold;
}

.navigation {
  background-color: #fff3e0;
  text-align: center;
  padding: 10px;
  border-bottom: 3px solid #e4b48c;
}

.navigation a {
  color: brown;
  background-color: #f28c8c;
  font-weight: bold;
  margin: 0 10px;
  border-radius: 12px;
  padding: 8px 14px;
  cursor: pointer;
  text-decoration: none;
}

main > section {
  background-color: #fff8ee;
  border-radius: 25px;
  align-items: center;
  padding: 25px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  max-width: 1100px;
  margin: 40px auto 0;
  align-items: center;
  flex-direction: column;
}

.about-us {
  text-align: center;
  width: 100%;
}

.featured-flavors {
  text-align: center;
  max-width: 40%;
}

.login {
  display: flex;
  align-items: center;
  max-width: 1100px;
  padding: 20px;
}

form {
  text-align: center;
  margin-bottom: 70px;
}

button {
  background-color: #f28c8c;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  padding: 8px 14px;
  cursor: pointer;
}

footer {
  background-color: #f9e2c8;
  text-align: center;
  padding: 15px;
  border-top: 3px solid #e4b48c;
}
