/*===================== 0. HEADER ===================== */

header {
  background-color: #f9e2c8;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 30px;
  border-bottom: 3px solid #e4b48c;
}

header .logo {
  width: 5%;
}

header h1 {
  font-weight: bold;
  font-size: 25px;
}


/*===================== 0. BODY ===================== */

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/*===================== 0. NAVBAR ===================== */

.navigation {
  background-color: #fff3e0;
  text-align: center;
  padding: 10px;
  border-bottom: 3px solid #e4b48c;
}

.navigation a {
  color: brown;
  background-color: #f28c8c;
  font-weight: bold;
  margin: 0 10px;
  border-radius: 12px;
  padding: 8px 14px;
  cursor: pointer;
  text-decoration: none;
}

/*===================== 0. MAIN ===================== */

main {
  display: flex;
  max-width: 1100px;
  margin: 40px auto 0;
  align-items: center;
  flex-direction: column;
}

/*===================== 0. FOOTER ===================== */
footer {
  background-color: #f9e2c8;
  text-align: center;
  padding: 15px;
  border-top: 3px solid #e4b48c;
}

/*===================== 1. HOME ===================== */

main > section {
  background-color: #fff8ee;
  border-radius: 25px;
  align-items: center;
  text-align: center;
  padding: 25px;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/*===================== 2. LOGIN ===================== */

.login-main{
    padding: 20px;
}

.login-main > form {
  text-align: center;
  margin-bottom: 70px;
}

.login-main > form > input[type="text"]{
    background-color: #fff8ee;
    border: 1px solid #e4b48c;
}

.login-main button {
  background-color: #f28c8c;
  color: white;
  font-weight: bold;
  border-radius: 12px;
  padding: 8px 14px;
  cursor: pointer;
  border: 0px;
}

/*===================== 3. MENU VIEW ===================== */

.season > select{
    background-color: #fff8ee;
    border-radius: 10px;
    padding: 6px 10px;
    border: 1px solid #e4b48c;
    text-align: center;
}

.season{
    padding: 25px 500px;
}

.ice-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px;
}

.ice-tile{
    max-width: 280px;
    background-color: #ffffff;
    border: 20px;
    padding: 15px;
    margin: 15px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: center;
    align-items: center;
}

.ice-tile img {
    width: 150px;
    margin: 10px;
    border-radius: 12px;
}

.ice-tile button {
    background-color: #f28c8c;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    padding: 8px 14px;
    border: 0px;
}

.specials .ice-tile{
    max-width: 180px;
}

.ice-tile .button-remove{
    background-color: #c94c4c;
}