.container {
border: 2px solid black;
padding: 10px;
}

.item {
padding: 20px;
margin: 5px;
background-color: lightblue;
border: 1px solid darkblue;
text-align: center;
}

.item img {
width: 150px;
height: 150px;
display: block;
margin: 0 auto 10px;
}